body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.color{
    color:orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half{
    width: 60%;
    padding-left: 2%;
    margin-bottom: 10px;

}
.half-img img{
width: 100%;
margin-left: 100px;


}
.button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: bold;
}
.top{
    background-image:url(images/top-banner.png);
    background-repeat: no-repeat;

}
.big{
background-position: right;
    background-image: url(images/dream-bg.png);
    background-repeat:no-repeat;
    padding-right: 10px;
}
